@page
@model WhoLives_CapstoneFinal.Pages.Assemblies.IndexModel
@{
    ViewData["Title"] = "Assemble Drill";
}

<div class="border backgroundWhite container">
    <br />
    <div class="row">
        <div class="col-6">
            <h2 class="text-dark">Drill Assembly</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <h4 class="text-primary">Drills in inventory: 0</h4>
        </div>
        <div class="col-6 text-right">
            <a asp-page="?" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Assemble Drill</a>
        </div>
    </div>
    <table id="DT_load" class="table table-striped table-bordered" style="table-layout:fixed; width:100%">
        <thead>
            <tr>
                <th>Complete Drill</th>
                <th>Item</th>
                <th>Available</th>
                <th>Needed</th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts {
    <script src="~/js/drillassembly.js"></script>
}
