@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br />
    <img src="~/images/header-logo.png" class="img-fluid" />
    <h2 class="display-4" style="padding-top:100px;">Welcome</h2>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
