@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <br />
    <img src="~/images/header-logo.png" class="img-fluid" style="padding-top: 60px;"/>
    <!--<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>-->
</div>
<br />
<div class="text-md-center">
    <p>A group of Weber state Students as a capstone project developed this website. This Website incorporates a variety of languages and API’s to achieve the best experience for the customer. The accredited individuals are below.  </p>

</div>
<div class="border">
    <ul>
        <li>John Wyke, <a href="https://www.linkedin.com/in/john-wyke-6a93b486/">Linked In</a></li>
        <li>Trevor Barker</li>
        <li>Isiah Valdez</li>
        <li>Alex Cothran</li>
        <li>Cooper Hurt</li>
        <li>Jared Bean</li>
        <li>Samuel Gamez</li>
        <li>Hyrum Finlinson</li>
    </ul>
</div>
