@page
@model WhoLives_CapstoneFinal.Pages.Drills.IndexModel
@{
    ViewData["Title"] = "Assemble Drill";
}

    <div class="border backgroundWhite container">
        <br />
        <div class="row">
            <div class="col-6">
                <h2 class="text-dark">Drill Assembly</h2>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-6">
                <h4 class="text-primary">Drills in inventory: 0</h4>
            </div>
            <div class="col-6 text-right">
                <a asp-page="?" class="btn btn-primary"><i class="fas fa-plus"></i>&nbsp;Assemble Drill</a>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-12">
                <nav>
                    <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link active" id="nav-items-tab" data-toggle="tab" href="#nav-items" role="tab" aria-controls="nav-items" aria-selected="true">Items</a>
                        <a class="nav-item nav-link" id="nav-assemblies-tab" data-toggle="tab" href="#nav-assemblies" role="tab" aria-controls="nav-assemblies" aria-selected="false">Assemblies</a>
                    </div>
                </nav>
            </div>
            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                <div class="tab-pane fade show active" id="nav-items" role="tabpanel" aria-labelledby="nav-items-tab">
                    <!-- Until we have an algorithm for counting the items inside assemblies, the total will be the same as the loose count - IV 4/1/2020-->
                    <table id="DT_load_inventory" class="table table-striped table-bordered" style="table-layout:fixed; width:100%">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Loose</th>
                                <th>Total</th>
                                <th>Needed</th>
                            </tr>
                        </thead>
                    </table>
                </div>
                <div class="tab-pane fade" id="nav-assemblies" role="tabpanel" aria-labelledby="nav-assemblies-tab">
                    <table id="DT_load_assembly" class="table table-striped table-bordered" style="table-layout:fixed; width:100%">
                        <thead>
                            <tr>
                                <th>Assembly</th>
                                <th>Total</th>
                                <th>Needed</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>



    </div>

@section Scripts {
    <script src="~/js/drillassembly.js"></script>
}
