@page
@model WhoLives_CapstoneFinal.Pages.Drills.IndexModel
@{
    ViewData["Title"] = "Assemble Drill";
}

    <div class="border backgroundWhite container">
        <br />
        <div class="row">
            <div class="col-6">
                <h2 class="text-dark">Drill Assembly</h2>
            </div>
        </div>
        <br />
        <div class="row">
            
            <div class="col-6 text-left">
                <h4 class="text-primary">Drills in inventory: @(Model.drill.TotalLooseQty)</h4>
            </div>
            <div class="col-6 text-right">
                <form method="post">
                    <div class="text-center">
                        <input type="number" id="assemblyNumber" asp-for="@Model.numToAssemble" style="width:100px;" required/> <button type="submit" class="btn btn-primary text-white" style="cursor:pointer;">
                            <i class="far fa-edit">Assemble Drill</i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br />
        <div class="row">
            <table id="DT_load_inventory" class="table table-striped table-bordered" style="table-layout:fixed; width:100%">
                <thead>
                    <tr>
                        <th>Complete Drill</th> <!-- Ratio of total item count to number needed-->
                        <th>Item</th>
                        <th>On Hand</th>
                        <th>In Assemblies</th> <!-- Loose items + items in assemblies - IV 4/15/2020-->
                        <th>Needed</th> <!-- Also calculate how many are needed from the drill's build assembly list - IV 4/15/2020-->
                    </tr>
                </thead>
            </table>
        </div>
    </div>


@section Scripts {
    <script src="~/js/drillassembly.js"></script>
}
